body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/**
여기는  html 관련 css를 작성 하는게 맞는거 같다
*/

ul {list-style:none; margin:0; padding:0;}
li {margin: 0; padding: 0; border: 0}

.table_board 
{
  &tr:hover {background-color: yellow; cursor: pointer;}
}